<div class="feature-view">
    <ndd-ng-titlebar titlebarIcon="ndd-font ndd-font-cardboard-box"
        [titlebarTitle]="title"
        [titlebarRouterToReturnOnClose]="returnRoute">
    </ndd-ng-titlebar>
    
    <ndd-ng-tabsbar>
        <ndd-ng-tab tabId="ndd-ng-tab-invoice-info"
            [tabRoute]="'./'"
            tabTitle="Dados cadastrais">            
        </ndd-ng-tab>
    </ndd-ng-tabsbar>

    <div class="feature-view-tab" >
        <ndd-invoice-add-form 
            [formModel]="form"
            [formModelInvoiceItem]="invoiceItemFormGroup"
            [hasSelectedItem]="index > -1"
            (submit)="onSubmit($event)"
            (cancel)="redirect()"
            (saveProduct)="onSaveProduct($event)"
            (selectedItem)="onSelectedItem($event)"
            (deleteItem)="onDeleteItem()">
        </ndd-invoice-add-form>
    </div>
</div>

<div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
<div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>